<launch>
<arg name = "drone_height" default = "2"/>
<arg name = "paused" default = "false"/>
<arg name = "use_sim_time" default = "true"/>
<arg name = "gui" default = "true"/>
<arg name = "headless" default = "false"/>
<arg name = "debug" default = "false"/>

<!-- Gazebo empty world -->
<include file = "$(find gazebo_ros)/launch/empty_world.launch">
<arg name = "debug" value = "$(arg debug)"/>
<arg name = "gui" value = "$(arg gui)"/>
<arg name = "paused" value = "$(arg paused)"/>
<arg name = "use_sim_time" value = "$(arg use_sim_time)"/>
<arg name = "headless" value = "$(arg headless)"/>
</include>

<!-- Drone Simulation -->
<node pkg = "simulator" type = "drone_takeoff" name = "drone_takeoff" output = "screen" respawn = "false"/>

<include file = "$(find mrsl_quadrotor_launch)/launch/spawn.launch">
	<arg name = "mav_type" value = "dragon_ddk"/>
	<arg name = "mav_name" value = "ddk"/>
	<arg name="z" default="1.5"/>
	<arg name="Y" default="0.0"/>
</include>

<include file = "$(find mrsl_quadrotor_launch)/launch/controller.launch">
	<arg name = "mav_type" value = "dragon_ddk"/>
	<arg name = "mav_name" value = "ddk"/>
	<arg name = "odom_topic" value = "ground_truth/odom"/>
	<arg name = "mass" value = "0.25"/>
</include>

<include file = "$(find kr_mav_launch)/launch/mesh_vis.launch">
	<arg name = "mav_type" value = "hummingbird"/>
	<arg name = "mav_name" value = "ddk"/>
	<arg name = "odom_topic" value = "/ddk/ground_truth/odom"/>
</include>

<node pkg = "kr_trackers" type = "twist_to_velocity_goal.py" name = "twist_to_velocity_goal" output = "screen" respawn = "false" ns="ddk"/>

<!-- Jackal with Apriltag simulation -->
<include file = "$(find simulator)/launch/jackal_april.launch"/>

<!-- Apriltag detection -->
<include file = "$(find apriltag_ros)/launch/pose_estimator.launch">
	<arg name = "camera" value = "/ddk/dfc_camera"/>
</include>

<!--Move target -->
<node name = "move_target" pkg = "simulator" type = "move_target" respawn = "false" output = "screen">
		<rosparam command="load" file="$(find simulator)/config/params.yaml" />
		<remap from = "~cmd_vel" to = "/jackal_velocity_controller/cmd_vel"/>
</node>

<!-- Target trajectory estimation -->
<node name = "obj_traj" pkg = "obj_traj_est" type = "obj_traj" respawn = "false" output = "screen">
	<remap from = "~odom" to = "/ddk/ground_truth/odom"/>
	<remap from = "~poses" to = "/ddk/dfc_camera/apriltag_pose_estimator/apriltag_poses"/>
	<remap from = "~obj_traj_coeff" to = "/obj_traj_coeff"/>
	<remap from = "~obj_traj_vis" to = "/obj_traj_vis"/>
	<rosparam command="load" file="$(find obj_traj_est)/config/params.yaml" />
</node>

<!-- Drone trajectory planner -->
<node name = "planner" pkg = "drone_planner" type = "planner" respawn = "false" output = "screen">
	<remap from = "~odom" to = "/ddk/ground_truth/odom"/>
	<remap from = "~obj_traj_coeff" to = "/obj_traj_coeff"/>
	<remap from = "~drone_traj_vis" to = "/drone_traj_vis"/>
	<remap from = "~drone_traj_coeff" to = "/drone_traj_coeff"/>

	<param name = "planning_horizon" value = "3.0"/>
	<param name = "drone_height" value = "$(arg drone_height)"/>
	<param name = "planning_rate" value = "20"/>
	<rosparam command="load" file="$(find drone_planner)/config/params.yaml" />
</node>

<!-- Drone velocity publisher -->

<node name = "cntrl_cmds" pkg = "drone_planner" type = "cntrl_cmds" respawn = "false" output = "screen">
	<remap from = "~drone_traj_coeff" to = "/drone_traj_coeff"/>
	<remap from = "~cmd_vel" to = "/ddk/cmd_vel"/>
	<rosparam command="load" file="$(find drone_planner)/config/params.yaml" />
</node>

<!-- Drone camera image view -->
<node name = "image_view" pkg = "image_view" type = "image_view" output = "screen" respawn = "false">
	<remap from = "image" to = "/ddk/dfc_camera/image_raw"/>
</node>

<!-- Rviz -->
<node pkg="tf" type="static_transform_publisher" name="broadcaster" args="0 0 0 0 0 0 1 world odom 100" />
<node type = "rviz" name = "rviz" pkg = "rviz" args = "-d $(find simulator)/rviz/simulation_config.rviz" />

</launch>